@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-style: italic;
}

* {
  font-family: "Readex pro", sans-serif;
}

.primary-button {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #b3d1ff, #8b59ff);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}
.primary-title {
  font-size: 90px;
  color: rgb(255, 255, 255);
}

.secondary-button {
  color: rgb(255, 255);
  background-color: #b3d1ff;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 2px rgb(255, 255);
  margin: 6px;
}

.secondary-button:hover {
  color: rgba(0, 0, 0.65);
  border: solid 2px rgb(255, 255);
}

.primary-button:hover {
  background: linear-gradient(260deg, #b3d1ff, #8b59ff);
}

/* ------ Navbar ------- */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .nav-button {
  color: rgb(255, 255, 255);
  background-color: #b3d1ff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  height: 60px;
  width: 100px;
}
nav .nav-button:disabled {
  background-color: #b3d1ffd0;
  color: rgba(255, 255, 255, 0.578);
}

nav .logo-container {
  margin: 15px;
}

.primary-title {
  font-size: 90px;
  color: #b3d1ff;
}

nav .logo-container .logo {
  height: 100px;
  width: 400px;
}

/* ------ Home page ------- */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
  background: linear-gradient(to bottom, rgba(0, 0, 0.65) 0%);
  background-image: url("images/6e9794bcedeecf5a8f8f41338a2a7345.webp");
}

.home {
  margin-top: 10vh;
}

/* ------ Auth Modal ------- */
.auth-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 40px;
}
.auth-modal .close-icon {
  float: right;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal input [type="passowrd"],
.auth-modal input [type="email"] {
  padding: 8px;
  margin: 8px;
  font-size: 17px;
}

/* ------ OnBording Page ------- */

.onboarding {
  border-top: solid 1px rgb(213, 213, 213);
}

.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 30%;
  text-align: start;
}

.onboarding form input {
  padding: 10px 10px;
  margin: 10px 0;
  font-size: 14px;
  border: solid 2px rgb(218, 218, 218);
  border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form {
  margin: 10px 0;
}

.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.onboarding form .multiple-input-container input {
  margin-right: 10px;
}

.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3;
  margin-right: 10px;
}

.onboarding form input[type="radio"] {
  display: none;
}

.onboarding form input[type="number"] {
    width: 10%;
  }

.onboarding form input[type="radio"]:checked + label {
  border: solid 2px rgb(22, 122, 221);
}

.onboarding form input[type="submit"]:hover {
    background-color: rgb(235,235,235);
}

.onboarding form input[type="submit"]:active {
    background-color: rgb(85, 153, 159);
}

.onboarding form .photo-container img{
  width: 100%;
}


/* ------ Dashboard Page ------- */

.dashboard {
  display: flex;
  justify-content:space-between;
}
.dashboard .swipe-container {
  width: 70%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 100hv;

}

.swipe {
  position: absolute;
}

.dashboard .card-container {
  width: 400px;
  height: 650px;
}

.card {
  background-color: #fff;
  width: 400px;
  height: 650px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 25px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 1px;
  color: rgb(101, 95, 95);
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/* ------ Chat Container ------- */

.chat-container {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
}
.chat-container .chat-container-header {
  background: linear-gradient(45deg, #b3d1ff, #8b59ff);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-container .option {
  border: none;
  background-color: #b3d1ff;
  border-bottom: solid 4px  #b3d1ff;
  font-size: 20px;
  margin: 2px;
  padding: 10px; 
}
.chat-container .option:disabled{
  border-bottom: solid 4px rgb(101, 95, 95);
}

.chat-container .profile,
.chat-container .profile .log-out-icon{
  display: flex;
  align-items: center;
  padding: 20px;
  color:rgb(213, 213, 213);
}
.img-container {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
}
.img-container img {
  width: 100%;
}

/* ------ Chat Display ------- */

.chat-display {
  padding: 20px;
  height: 60vh;
  overflow-y: auto;
}
/* ------ Chat Input  ------- */

.chat-input {
  padding: 20px;
  display: flex;
  flex-direction: column;
}